<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    <link rel="stylesheet" type="text/css" href="/views/style.css">
</head>
<body>
    <div class="player">
        <h1 id="songTitle">Now Playing: N/A</h1>
        <audio id="audioPlayer" controls>
            <source id="audioSource" src="" type="audio/mpeg">
            Your browser does not support audio playback.
        </audio>
        <div class="controls">
            <button onclick="playAudio()">Play</button>
            <button onclick="pauseAudio()">Pause</button>
            <button onclick="stopAudio()">Stop</button>
        </div>
    </div>
    <div id="playlist">
        <input type="text" id="searchBox" placeholder="Search for a song..." onkeyup="searchSongs()">
        <ul>
            <% musicFiles.forEach(function(file) { %>
                <li><a href="#" onclick="loadAudio('<%= file %>')"><%= file %></a></li>
            <% }) %>
        </ul>
    </div>
    <button id="openPlaylistBtn" onclick="togglePlaylist()">&#9776;</button>
    
    <script>
        const audioPlayer = document.getElementById('audioPlayer');
        const audioSource = document.getElementById('audioSource');
        let isPlaylistOpen = false;

        function playAudio() {
            audioPlayer.play();
        }
    
        function pauseAudio() {
            audioPlayer.pause();
        }
    
        function stopAudio() {
            audioPlayer.pause();
            audioPlayer.currentTime = 0;
        }
    
        function loadAudio(file) {
            const songTitle = document.getElementById('songTitle');
            audioSource.src = '/music/' + file;
            audioPlayer.load();
            playAudio();
            songTitle.innerText = 'Now Playing: ' + file;
        }
    
        function searchSongs() {
            const input = document.getElementById('searchBox').value.toLowerCase();
            const ul = document.getElementById('playlist').getElementsByTagName('ul')[0];
            const li = ul.getElementsByTagName('li');

            for (let i = 0; i < li.length; i++) {
                const a = li[i].getElementsByTagName('a')[0];
                const txtValue = a.textContent || a.innerText;

                if (txtValue.toLowerCase().indexOf(input) > -1) {
                    li[i].style.display = '';
                } else {
                    li[i].style.display = 'none';
                }
            }
        }

        function togglePlaylist() {
            if (!isPlaylistOpen) {
                document.getElementById('playlist').style.left = '0';
                document.getElementById('openPlaylistBtn').style.left = '250px';
                isPlaylistOpen = true;
            } else {
                document.getElementById('playlist').style.left = '-250px';
                document.getElementById('openPlaylistBtn').style.left = '20px';
                isPlaylistOpen = false;
            }
        }

    </script>
</body>
</html>
